<header>
    {{> header/index_header}}
</header>
<div style="background-color: rgb(245, 247, 249)">
    <iframe src="https://lenoxbot.gitbook.io/business-tycoon/" width="100%" style="position: absolute; height: 100%; border: none"></iframe>
</div>