<header>
    {{> header/index_header}}
</header>
<p>Hey!</p>
<a href="/auth/google">
    <button type="button" class="btn btn-primary" aria-label="Google Auth">
        <i class="mdi mdi-google" aria-hidden="true"></i>
        Log in with Google
    </button>
</a>