<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true">
    <meta name="description"
        content="You always wanted to become an entrepreneur? Then this game is just right for you!">
    <meta name="keywords"
        content="business tycoon, business, tycoon, simulation, economics, browsergame, economic game">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="revisit-after" content="7 days">
    <meta name="copyright" content="Gilles Heinesch | Business Tycoon">
    <!-- <link rel="icon" href="https://i.imgur.com/TFle1Cb.png" type="image/x-icon"> -->
    <meta name="theme-color" content="#0000FF">
    <meta name="author" content="Gilles Heinesch">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Material Desing Icons CSS -->
    <link href="https://cdn.materialdesignicons.com/3.8.95/css/materialdesignicons.css" media="all" rel="stylesheet"
        type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom BusinessTycoon CSS -->
    <link rel="stylesheet" href="/css/businesstycoon.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!--Google Font: Hind Siliguri -->
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,700" rel="stylesheet">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous">
    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>
    <!--Bootstrap Notify-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js">
    </script>
</head>

<body class="bt-body-bg">
    {{{ body }}}
</body>

</html>